#box1 {
  display: inline;
  background-color: red;
  width: 500; height: 50px;
  margin: 10px;
}

#box2 {
  display: inline-block;
  background-color: red;
  width: 500; height: 50px;
  margin: 10px;
} /*비교 인라인-좌우만 인라인-블록-상하좌우(많이사용됨)*/

#box3 {
  visibility: hidden;
}