div {
  text-align: center;
  line-height: 200px;
  font-size: 20px;
  font-weight: 900px;
  color: white;

  width: 200px; height: 200px;
  background-color: red;

  border: 20px solid black;
  margin: 100px 50px 30px; 
  padding: 30px;
}/*마진-보더 바깥,패딩-보더 안 안의 속성값은 4개까지. 1개-상하좌우 2개-상하 3개-상,좌우,하*/